rpie_nodered.txt
[{"id":"3fe74e37.8bb422","type":"wiotp out","z":"79dd0ee5.66b17","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"9d5df1ae.46ac3","deviceType":"myrpi","deviceId":"jh","event":"Patients data","format":"json","qos":"0","name":"Raspberry2Cloud","x":982.678638458252,"y":477.6190948486328,"wires":[]},{"id":"c481a5b8.37d7f8","type":"function","z":"79dd0ee5.66b17","name":"Select Query","func":"var patient=msg.payload;\npatient=patient.replace(/(\\n)/gm,\"\");\nvar query=\"select * from RDHS.va_patient_disease_features where patientID='\"+patient+\"' LIMIT 380\";\nmsg.topic=query;\nreturn msg;\n","outputs":"1","noerr":0,"x":237.1548194885254,"y":500.9762477874756,"wires":[["1c0b4bb8.c5bbf4"]]},{"id":"da464aa8.44baf8","type":"debug","z":"79dd0ee5.66b17","name":"","active":true,"console":"false","complete":"payload","x":943.571460723877,"y":403.2976379394531,"wires":[]},{"id":"28c36c3a.0dfc34","type":"function","z":"79dd0ee5.66b17","name":"MQTT payload","func":"var patientID=msg.payload[0].patientID;\nvar features=[];\nmsg.payload.forEach(function(item){\n    features.push(item.disease_features);\n    \n});\n\n//msg.payload=symptoms;\nmsg.payload=JSON.stringify({\"patientID\":patientID,\"features\":features});\nreturn msg;","outputs":1,"noerr":0,"x":697.2500495910645,"y":455.80950355529785,"wires":[["da464aa8.44baf8","3fe74e37.8bb422"]]},{"id":"2c0583c4.2b67cc","type":"debug","z":"79dd0ee5.66b17","name":"","active":false,"console":"false","complete":"true","x":497.98815536499023,"y":381.42858123779297,"wires":[]},{"id":"c337fef.ed558","type":"wiotp in","z":"79dd0ee5.66b17","authType":"d","deviceKey":"f6a13c51.5719","deviceType":"","deviceId":"","command":"+","commandType":"g","qos":"0","name":"","x":534.8214836120605,"y":585.5476379394531,"wires":[["b7ef4092.6b472","f4ef0574.ab2168"]]},{"id":"b7ef4092.6b472","type":"debug","z":"79dd0ee5.66b17","name":"","active":true,"console":"false","complete":"payload","x":821.8214836120605,"y":587.5476379394531,"wires":[]},{"id":"f322df8a.0f88c","type":"inject","z":"79dd0ee5.66b17","name":"","topic":"","payload":" {\"d\":{\"patientID\":\"p01\",\"NLCresult\":\"TB\",\"Summary\":\"You are probably experiencing the mild Tuberculosis. If your symptoms do change or seem to get worse,consult a medical practioner\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":630.8214836120605,"y":662.5476379394531,"wires":[["f4ef0574.ab2168"]]},{"id":"f4ef0574.ab2168","type":"function","z":"79dd0ee5.66b17","name":"Insert Summary","func":"var patientID=msg.payload.d.patinetID;\nvar nlcresult=msg.payload.d.NLCresult;\nvar summary=msg.payload.d.Summary;\nmsg.topic=\"INSERT INTO  `va_patients_disease_summary` (`patientID`,`classifier_output`,`early_diagnosis_summary`) values('\"+patientID+\"','\"+nlcresult+\"','\"+summary+\"');\";\nreturn msg;\n","outputs":1,"noerr":0,"x":844.8214836120605,"y":659.5476379394531,"wires":[["9f7e9e89.034f6"]]},{"id":"a1888f52.5cfbc","type":"inject","z":"79dd0ee5.66b17","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":237.4881477355957,"y":649.547679901123,"wires":[["1f5838be.f59207"]]},{"id":"1c0b4bb8.c5bbf4","type":"mysql","z":"79dd0ee5.66b17","mydb":"c9c0b032.0e407","name":"my msql DB","x":504.5119285583496,"y":455.97623348236084,"wires":[["2c0583c4.2b67cc","28c36c3a.0dfc34"]]},{"id":"9f7e9e89.034f6","type":"mysql","z":"79dd0ee5.66b17","mydb":"c9c0b032.0e407","name":"","x":1044.8214836120605,"y":658.5476379394531,"wires":[[]]},{"id":"bc52743b.5f8008","type":"http in","z":"79dd0ee5.66b17","name":"Terminal call","url":"/start-node","method":"get","upload":false,"swaggerDoc":"","x":214.81367111206055,"y":205.0189971923828,"wires":[["8ed296c2.23dbc8","346b1a23.037326"]]},{"id":"8ed296c2.23dbc8","type":"function","z":"79dd0ee5.66b17","name":"Extract params","func":"var name=msg.req.query.name; \n//msg.payload=name;\nmsg.payload=name\nreturn msg;","outputs":1,"noerr":0,"x":446.82148361206055,"y":205.5111846923828,"wires":[["39eaa3a0.0a5aec","6b3506a1.ddbad8"]]},{"id":"39eaa3a0.0a5aec","type":"exec","z":"79dd0ee5.66b17","command":"sudo python coughanalysis_ann/annmodel_main.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Python Script","x":674.0792655944824,"y":196.2377414703369,"wires":[["5e2ce87b.c72378","355b8ebb.854922","bc92751c.8506a8"],["b24e86af.af08f8","355b8ebb.854922"],["355b8ebb.854922"]]},{"id":"5e2ce87b.c72378","type":"debug","z":"79dd0ee5.66b17","name":"","active":true,"console":"false","complete":"false","x":991.2682228088379,"y":147.36132764816284,"wires":[]},{"id":"b24e86af.af08f8","type":"debug","z":"79dd0ee5.66b17","name":"","active":true,"console":"false","complete":"false","x":1023.2611351013184,"y":198.60137844085693,"wires":[]},{"id":"6b3506a1.ddbad8","type":"debug","z":"79dd0ee5.66b17","name":"","active":false,"console":"false","complete":"false","x":698.8214836120605,"y":150.7143096923828,"wires":[]},{"id":"346b1a23.037326","type":"debug","z":"79dd0ee5.66b17","name":"","active":true,"console":"false","complete":"false","x":436.81367111206055,"y":154.8236846923828,"wires":[]},{"id":"1f5838be.f59207","type":"function","z":"79dd0ee5.66b17","name":"temp name","func":"msg.payload='nandhi';\nreturn msg;","outputs":1,"noerr":0,"x":226.55177688598633,"y":580.6540203094482,"wires":[["c481a5b8.37d7f8"]]},{"id":"355b8ebb.854922","type":"http response","z":"79dd0ee5.66b17","name":"","statusCode":"","headers":{},"x":1015.9045829772949,"y":308.2597665786743,"wires":[]},{"id":"be0d5200.ea76f","type":"function","z":"79dd0ee5.66b17","name":"Select Query","func":"var patient=msg.payload.patientID;\nvar size=msg.payload.features;\nif (size>380)\n{\nsize=380;\n}\nvar query=\"select * from RDHS.va_patient_disease_features where patientID='\"+patient+\"' LIMIT \"+size;\nmsg.payload=query;\nmsg.topic=query;\nreturn msg;\n","outputs":"1","noerr":0,"x":241.96033096313477,"y":413.50653076171875,"wires":[["1c0b4bb8.c5bbf4","2c0583c4.2b67cc"]]},{"id":"bc92751c.8506a8","type":"json","z":"79dd0ee5.66b17","name":"","pretty":false,"x":251.63560104370117,"y":325.8644504547119,"wires":[["be0d5200.ea76f"]]},{"id":"9d5df1ae.46ac3","type":"wiotp-credentials","z":"","name":"rpie","org":"2hx343","serverName":"","devType":"rpie","devId":"rpie123","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"f6a13c51.5719","type":"wiotp-credentials","z":"","name":"RPI2Cloud","org":"2hx343","serverName":"","devType":"rpie","devId":"rpie123","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"c9c0b032.0e407","type":"MySQLdatabase","z":0,"host":"127.0.0.1","port":"3306","db":"RDHS","tz":""}]