rpie_nodered_2.txt
[{"id":"b977fd41.f8c12","type":"wiotp out","z":"a7dca14d.5d229","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"9d5df1ae.46ac3","deviceType":"myrpi","deviceId":"jh","event":"Patients data","format":"json","qos":"0","name":"Raspberry2Cloud","x":619.864917755127,"y":167.25778198242188,"wires":[]},{"id":"486bdcd5.354dc4","type":"function","z":"a7dca14d.5d229","name":"Select Query","func":"var patient=msg.payload;\npatient=patient.replace(/(\\n)/gm,\"\");\nvar query=\"select * from RDHS.va_patient_disease_features where patientID='\"+patient+\"' LIMIT 380\";\nmsg.topic=query;\nreturn msg;\n","outputs":"1","noerr":0,"x":136.34113311767578,"y":373.61492013931274,"wires":[["333b317a.799f4e"]]},{"id":"f402744f.549708","type":"debug","z":"a7dca14d.5d229","name":"","active":true,"console":"false","complete":"payload","x":842.7577743530273,"y":275.9363102912903,"wires":[]},{"id":"fc6477a1.af50f8","type":"function","z":"a7dca14d.5d229","name":"MQTT payload","func":"var patientID=msg.payload[0].patientID;\nvar features=[];\nmsg.payload.forEach(function(item){\n    features.push(item.disease_features);\n    \n});\n\n//msg.payload=symptoms;\nmsg.payload=JSON.stringify({\"patientID\":patientID,\"features\":features});\nreturn msg;","outputs":1,"noerr":0,"x":584.4363250732422,"y":328.44818115234375,"wires":[["f402744f.549708","b977fd41.f8c12"]]},{"id":"8bae60f9.cbba4","type":"debug","z":"a7dca14d.5d229","name":"","active":true,"console":"false","complete":"true","x":397.1744689941406,"y":254.06725358963013,"wires":[]},{"id":"aa9c57b2.ad95e8","type":"wiotp in","z":"a7dca14d.5d229","authType":"d","deviceKey":"f6a13c51.5719","deviceType":"","deviceId":"","command":"+","commandType":"g","qos":"0","name":"","x":434.00779724121094,"y":458.1863102912903,"wires":[["f13d2ea4.ab7b5","1cdec388.9a227c"]]},{"id":"f13d2ea4.ab7b5","type":"debug","z":"a7dca14d.5d229","name":"","active":true,"console":"false","complete":"payload","x":721.0077972412109,"y":460.1863102912903,"wires":[]},{"id":"a96500bf.6272e","type":"inject","z":"a7dca14d.5d229","name":"","topic":"","payload":" {\"d\":{\"patientID\":\"p01\",\"NLCresult\":\"TB\",\"Summary\":\"You are probably experiencing the mild Tuberculosis. If your symptoms do change or seem to get worse,consult a medical practioner\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":530.0077972412109,"y":535.1863102912903,"wires":[["1cdec388.9a227c"]]},{"id":"1cdec388.9a227c","type":"function","z":"a7dca14d.5d229","name":"Insert Summary","func":"var patientID=msg.payload.d.patinetID;\nvar nlcresult=msg.payload.d.NLCresult;\nvar summary=msg.payload.d.Summary;\nmsg.topic=\"INSERT INTO  `va_patients_disease_summary` (`patientID`,`classifier_output`,`early_diagnosis_summary`) values('\"+patientID+\"','\"+nlcresult+\"','\"+summary+\"');\";\nreturn msg;\n","outputs":1,"noerr":0,"x":744.0077972412109,"y":532.1863102912903,"wires":[["b8e2c0b0.c9fba"]]},{"id":"112fcb3b.a28e35","type":"inject","z":"a7dca14d.5d229","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":136.6744613647461,"y":522.1863522529602,"wires":[["87101247.d6499"]]},{"id":"333b317a.799f4e","type":"mysql","z":"a7dca14d.5d229","mydb":"c9c0b032.0e407","name":"my msql DB","x":403.6982421875,"y":328.614905834198,"wires":[["8bae60f9.cbba4","fc6477a1.af50f8"]]},{"id":"b8e2c0b0.c9fba","type":"mysql","z":"a7dca14d.5d229","mydb":"c9c0b032.0e407","name":"","x":944.0077972412109,"y":531.1863102912903,"wires":[[]]},{"id":"b5a264aa.df8cd8","type":"http in","z":"a7dca14d.5d229","name":"Terminal call","url":"/start-node2","method":"get","upload":false,"swaggerDoc":"","x":113.99998474121094,"y":77.65766954421997,"wires":[["aec24de5.3892c","e74fc95.c8a2c38"]]},{"id":"aec24de5.3892c","type":"function","z":"a7dca14d.5d229","name":"Extract params","func":"var name=msg.req.query.name; \n//msg.payload=name;\nmsg.payload=name\nreturn msg;","outputs":1,"noerr":0,"x":346.00779724121094,"y":78.14985704421997,"wires":[["acf9ada6.57c19","61c776b8.c35208"]]},{"id":"acf9ada6.57c19","type":"exec","z":"a7dca14d.5d229","command":"sudo python coughanalysis_ann/annmodel_main_type2.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Python Script","x":406.2655487060547,"y":130.8764190673828,"wires":[["1d3a7e6f.e46792","b977fd41.f8c12"],["1fed7757.04ec79"],[]]},{"id":"1d3a7e6f.e46792","type":"debug","z":"a7dca14d.5d229","name":"","active":true,"console":"false","complete":"false","x":890.4545364379883,"y":20,"wires":[]},{"id":"1fed7757.04ec79","type":"debug","z":"a7dca14d.5d229","name":"","active":true,"console":"false","complete":"false","x":922.4474487304688,"y":71.24005079269409,"wires":[]},{"id":"61c776b8.c35208","type":"debug","z":"a7dca14d.5d229","name":"","active":false,"console":"false","complete":"false","x":598.0077972412109,"y":23.35298204421997,"wires":[]},{"id":"e74fc95.c8a2c38","type":"debug","z":"a7dca14d.5d229","name":"","active":true,"console":"false","complete":"false","x":335.99998474121094,"y":27.46235704421997,"wires":[]},{"id":"87101247.d6499","type":"function","z":"a7dca14d.5d229","name":"temp name","func":"msg.payload='nandhi';\nreturn msg;","outputs":1,"noerr":0,"x":125.73809051513672,"y":453.2926926612854,"wires":[["486bdcd5.354dc4"]]},{"id":"988f2124.a8834","type":"function","z":"a7dca14d.5d229","name":"Select Query","func":"var patient=msg.payload.patientID;\nvar size=msg.payload.features;\nif (size>380)\n{\nsize=380;\n}\nvar query=\"select * from RDHS.va_patient_disease_features where patientID='\"+patient+\"' LIMIT \"+size;\nmsg.payload=query;\nmsg.topic=query;\nreturn msg;\n","outputs":"1","noerr":0,"x":141.14664459228516,"y":286.1452031135559,"wires":[["333b317a.799f4e","8bae60f9.cbba4"]]},{"id":"4852b5af.e86dcc","type":"json","z":"a7dca14d.5d229","name":"","pretty":false,"x":150.82191467285156,"y":198.50312280654907,"wires":[["b977fd41.f8c12","8bae60f9.cbba4"]]},{"id":"9d5df1ae.46ac3","type":"wiotp-credentials","z":"","name":"rpie","org":"2hx343","serverName":"","devType":"rpie","devId":"rpie123","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"f6a13c51.5719","type":"wiotp-credentials","z":"","name":"RPI2Cloud","org":"2hx343","serverName":"","devType":"rpie","devId":"rpie123","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"c9c0b032.0e407","type":"MySQLdatabase","z":0,"host":"127.0.0.1","port":"3306","db":"RDHS","tz":""}]