coughanalysis_ann/nodered-cloud
[{"id":"c36494de.012b58","type":"tab","label":"Flow 3"},{"id":"23dd335a.90b71c","type":"inject","z":"c36494de.012b58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":136,"y":257.80004596710205,"wires":[["a2105e55.9af83"]]},{"id":"9c5692a1.39e65","type":"ibmpush","z":"c36494de.012b58","name":"rdhs ","ApplicationID":"c6056b1e-25c9-441d-b412-2d353ada2df3","identifiers":"","notification":"android","mode":"SANDBOX","ApplicationRegion":"ng","x":939.0000076293945,"y":126.80001735687256,"wires":[]},{"id":"4739e26e.7b03fc","type":"http request","z":"c36494de.012b58","name":"","method":"POST","ret":"obj","url":"https://diseaseclassifier-pythonflask-unhired-tarpon.mybluemix.net/predict?{{{post}}}","tls":"","x":559.6999969482422,"y":373.99997425079346,"wires":[["7e2f23d1.7f949c","5301ccfd.5cbcd4"]]},{"id":"b640bfd5.37f5f","type":"function","z":"c36494de.012b58","name":"Process Symptoms Data","func":"var data =msg.payload.d.symptoms;\nvar patientID =msg.payload.d.patientID;\n\nvar name= msg.payload.d.name;\nvar age= msg.payload.d.age;\nvar symptomDate=msg.payload.d.symptomDate;\nvar symptomTime= msg.payload.d.symptomTime;\nvar totalEvents= msg.payload.d.totalEvents;\nvar dryEvents= msg.payload.d.dryEvents;\nvar wetEvents= msg.payload.d.wetEvents;\nvar dryFrequency= msg.payload.d.dryFrequency;\nvar wetFrequency= msg.payload.d.wetFrequency;\nvar minDryDuration= msg.payload.d.minDryDuration;\nvar maxDryDuration= msg.payload.d.maxDryDuration;\nvar avgDryDuration= msg.payload.d.avgDryDuration;\nvar minWetDuration= msg.payload.d.minWetDuration;\nvar maxWetDuration= msg.payload.d.maxWetDuration;\nvar avgWetDuration= msg.payload.d.avgWetDuration;\nvar recordDate= msg.payload.d.recordDate;\nvar recordTime= msg.payload.d.recordTime;\n\n\nflow.set('patientID',patientID);\nflow.set('symptoms',data);\nflow.set('name',name);\nflow.set('age',age);\nflow.set('symptomDate',symptomDate);\nflow.set('symptomTime',symptomTime);\nflow.set('totalEvents',totalEvents);\nflow.set('dryEvents',dryEvents);\nflow.set('wetEvents',wetEvents);\nflow.set('dryFrequency',dryFrequency);\nflow.set('wetFrequency',wetFrequency);\nflow.set('minDryDuration',minDryDuration);\nflow.set('maxDryDuration',maxDryDuration);\nflow.set('avgDryDuration',avgDryDuration);\nflow.set('minWetDuration',minWetDuration);\nflow.set('maxWetDuration',maxWetDuration);\nflow.set('avgWetDuration',avgWetDuration);\nflow.set('recordDate',recordDate);\nflow.set('recordTime',recordTime);\nif(wetEvents>=1){\ndata=data+\",\"+\"wet cough\";\nflow.set('wetCough',\"wetCough\");\n}\nelse\n{\n    flow.set('wetCough',\" \");\n\n}\nmsg.payload=data;\nreturn msg;\n","outputs":1,"noerr":0,"x":376.9999237060547,"y":865.8001146316528,"wires":[["3419a379.a28ddc","14b9d1e3.37c8ee"]]},{"id":"3419a379.a28ddc","type":"watson-natural-language-classifier","z":"c36494de.012b58","name":"NLClassifier","mode":"classify","language":"en","classifier":"359f3fx202-nlc-216020","x":647.9999237060547,"y":947.8000450134277,"wires":[["1069e846.24f708"]]},{"id":"3fde917d.51c1be","type":"ibmiot in","z":"c36494de.012b58","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"myrpi","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"RPI to IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":126.19993591308594,"y":524.8001003265381,"wires":[["af40a382.7a261","dec81dac.132a2","4b6cd624.2225d8","153382e4.078bed"]]},{"id":"b01c2cbc.17c82","type":"cloudant out","z":"c36494de.012b58","name":"Patient diagnosis data to DB","cloudant":"e083a556.9f5d38","database":"rdhs","service":"_ext_","payonly":false,"operation":"insert","x":933.8263397216797,"y":1277.23410987854,"wires":[]},{"id":"1069e846.24f708","type":"function","z":"c36494de.012b58","name":"Patient Disease Summary","func":"var data = msg.payload.top_class;\nvar patientID = flow.get('patientID')||0;\nvar name= flow.get('name')||0;\nvar age= flow.get('age')||0;\nvar symptoms = flow.get('symptoms')||null;\nvar symptomDate=flow.get('symptomDate')||0;\nvar symptomTime= flow.get('symptomTime')||0;\nvar totalEvents= flow.get('totalEvents')||0;\nvar dryEvents= flow.get('dryEvents')||0;\nvar wetEvents= flow.get('wetEvents')||0;\nvar dryFrequency= flow.get('dryFrequency')||0;\nvar wetFrequency= flow.get('wetFrequency')||0;\nvar minDryDuration= flow.get('minDryDuration')||0;\nvar maxDryDuration= flow.get('maxDryDuration')||0;\nvar avgDryDuration= flow.get('avgDryDuration')||0;\nvar minWetDuration= flow.get('minWetDuration')||0;\nvar maxWetDuration= flow.get('maxWetDuration')||0;\nvar avgWetDuration= flow.get('avgWetDuration')||0;\nvar recordDate= flow.get('recordDate')||0;\nvar recordTime= flow.get('recordTime')||0;\nvar wetCough= flow.get('wetCough')||0;\nif(wetCough==\"wetCough\")\nsymptoms=symptoms+\",wet cough\";\n\nif(data==\"Asthma\")\nvar summary=\"You are probably experiencing the mild Asthma. If your symptoms do change or seem to get worse,consult a medical practitioner.\";\nif(data==\"Acute Asthma\")\nvar summary=\"You may well have Asthma ,better make an appointment with your physician for a proper diagnosis.\";\nif(data==\"Severe Asthma\")\nvar summary=\"You may well have Asthma ,better make an appointment with your physician for a proper diagnosis.\";\nif(data==\"Tuberculosis\")\nvar summary=\"You are probably experiencing the mild Tuberculosis. If your symptoms do change or seem to get worse,consult a medical practitioner.\";\nif(data==\"COPD\")\nvar summary=\"You are probably experiencing the mild COPD. If your symptoms do change or seem to get worse,consult a medical practitioner.\";\nif(data==\"Pneumonia\")\nvar summary=\"You are probably experiencing the mild Pneumonia. If your symptoms do change or seem to get worse,consult a medical practitioner.\";\n\n\n\nmsg.payload = JSON.stringify({\"d\":{\"patinetID\":patientID,\"name\":name,\"age\":age,\"symptoms\":symptoms,\"symptomDate\":symptomDate,\"symptomTime\":symptomTime,\"totalEvents\":totalEvents,\"dryEvents\":dryEvents,\"wetEvents\":wetEvents,\"dryFrequency\":dryFrequency,\"wetFrequency\":wetFrequency,\"minDryDuration\":minDryDuration,\"maxDryDuration\":maxDryDuration,\"avgDryDuration\":avgDryDuration,\"minWetDuration\":minWetDuration,\"maxWetDuration\":maxWetDuration,\"avgWetDuration\":avgWetDuration,\"recordDate\":recordDate,\"recordTime\":recordTime,\"NLCresult\":data,\"Summary\":summary}});\nreturn msg;\n","outputs":1,"noerr":0,"x":866.8957595825195,"y":856.6889228820801,"wires":[["cf7a5b5d.bdb5e8","a58b3d87.b02d7"]]},{"id":"cf7a5b5d.bdb5e8","type":"ibmiot out","z":"c36494de.012b58","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"myrpi","deviceType":"rpie","eventCommandType":"test","format":"string","data":"\"hello\"","qos":0,"name":"IBM IoT to RPI","service":"registered","x":669.9999542236328,"y":1171.8000478744507,"wires":[]},{"id":"bf45e7f1.bd4198","type":"debug","z":"c36494de.012b58","name":"","active":true,"console":"false","complete":"false","x":932.9999656677246,"y":1119.8000564575195,"wires":[]},{"id":"a58b3d87.b02d7","type":"json","z":"c36494de.012b58","name":"","pretty":false,"x":842.9999618530273,"y":1170.8000450134277,"wires":[["b01c2cbc.17c82","bf45e7f1.bd4198"]]},{"id":"14b9d1e3.37c8ee","type":"debug","z":"c36494de.012b58","name":"","active":false,"console":"false","complete":"payload","x":307.9999237060547,"y":1147.8000450134277,"wires":[]},{"id":"af40a382.7a261","type":"function","z":"c36494de.012b58","name":"Process Symptoms Data","func":"var dataframe= msg.payload.d.features;\n\n//var array = [];\n//dataframe.forEach(function(item){\n //   array.push([JSON.parse(item )]);\n//});\n\n//var array=JSON.parse(\"[\"+dataframe[0]+\"]\");\n\nvar jsonarray =[ Object.assign({}, dataframe)];\n\nmsg.payload=jsonarray;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":379.1999969482422,"y":523.2000150680542,"wires":[["4739e26e.7b03fc"]]},{"id":"dec81dac.132a2","type":"function","z":"c36494de.012b58","name":"Patient ID","func":"var patientID =msg.payload.d.patientID;\n\nmsg.topic=\"patient\";\n\nmsg.payload={\"patientID\":patientID};\n\nreturn msg;","outputs":1,"noerr":0,"x":364.7000198364258,"y":463.80005645751953,"wires":[["8101792.4675e88"]]},{"id":"4ae1a842.edd678","type":"json","z":"c36494de.012b58","name":"To JSON","pretty":false,"x":712.5000076293945,"y":124.200026512146,"wires":[["9c5692a1.39e65","d9b004fe.a353b8"]]},{"id":"a2105e55.9af83","type":"function","z":"c36494de.012b58","name":"json sample","func":"var a={\"d\":{\"patientID\":\"nandi\",\"features\":[\"1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,58.9677110239,29.1439433713,-19.7954246994,45.6368815156,-39.2525300735,50.7924852364,37.7377930668,29.5789491264,-13.9998847407,65.2378767004,16.4331020685,19.3936535116,-1.82842225954,2450.84876567,1683.87862145,214.996682677,3500.0,3700.0,7.15218490428,66062.5494107,22.0\",\"1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,60.0889053477,24.1162537383,-23.9100909863,22.4323645614,-21.8734631444,106.136669925,81.8610042475,67.3387460302,-13.2338745005,36.1798210474,8.802842515,20.9880810242,-7.88076250144,3709.0,2614.34521115,1677.06765846,337.003715792,3700.0,9.06922730755,80757.0924751,17.0\"]}};\n\nmsg.payload=a;\nreturn msg;","outputs":1,"noerr":0,"x":116.19993591308594,"y":390.2000217437744,"wires":[["4b6cd624.2225d8","dec81dac.132a2","af40a382.7a261","13a763c3.9ad6bc"]]},{"id":"a9822dad.e695d","type":"inject","z":"c36494de.012b58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":161.19993591308594,"y":62.799986839294434,"wires":[["a717f13d.692b7"]]},{"id":"a717f13d.692b7","type":"function","z":"c36494de.012b58","name":"test output","func":"\nvar a=\n {\n   \"patientID\": 'test',\n   \"disease\": 'asthama',\n   \"disease_summary\":'you are experiencing mild asthama '\n }\n\n\nmsg.payload=a\nreturn msg;","outputs":1,"noerr":0,"x":514.6999588012695,"y":64.79998970031738,"wires":[["4ae1a842.edd678","b34012fb.57b55"]]},{"id":"e9324cdc.2c31a","type":"debug","z":"c36494de.012b58","name":"","active":true,"console":"false","complete":"payload","x":966.6999588012695,"y":373.40009593963623,"wires":[]},{"id":"4b6cd624.2225d8","type":"debug","z":"c36494de.012b58","name":"","active":true,"console":"false","complete":"false","x":347.2714385986328,"y":400.97143173217773,"wires":[]},{"id":"7e2f23d1.7f949c","type":"function","z":"c36494de.012b58","name":"Format Data","func":"var disease= msg.payload.prediction;\nvar data;\n\nswitch(disease) {\n    case 1:\n        data={\"disease\":\"Bronchial Asthma\",\"disease_summary\":\"You are probably experiencing Mild Asthma, Visit the doctor immediately.\"};\n        break;\n    case 2:\n        data={\"disease\":\"Bronchitis\",\"disease_summary\":\"You are probably experiencing Bronchitis, Visit the doctor immediately.\"};\n        break;\n    case 3:\n        data={\"disease\":\"COPD\",\"disease_summary\":\"You are probably experiencing COPD, Visit the doctor immediately.\"};\n        break;\n    case 4:\n        data={\"disease\":\"Empyema\",\"disease_summary\":\"You are probably experiencing Empyema, Visit the doctor immediately.\"};\n        break;\n    case 5:\n        data={\"disease\":\"ILD\",\"disease_summary\":\"You are probably experiencing ILD, Visit the doctor immediately.\"};\n        break;\n    case 6:\n        data={\"disease\":\"Mass Lesion\",\"disease_summary\":\"You are probably experiencing Mild Asthma, Visit the doctor immediately.\"};\n        break;\n    case 7:\n        data= {\"disease\":\"Pneumonia\",\"disease_summary\":\"You are probably experiencing Pneumonia, Visit the doctor immediately.\"};\n        break;\n    case 8:\n        data= {\"disease\":\"Synpneumonic Effusion\",\"disease_summary\":\"You are probably experiencing Synpneumonic Effusion, Visit the doctor immediately.\"};\n        break;\n    \n    case 9:\n        data={\"disease\":\"Bronchieatasis\",\"disease_summary\":\"You are probably experiencing Bronchieatasis, Visit the doctor immediately.\"};\n        break;\n    case 10:\n        data={\"disease\":\"Tuberculosis(TB)\",\"disease_summary\":\"You are probably experiencing Tuberculosis(TB), Visit the doctor immediately.\"};\n        break;\n    \n    case 11:\n        data={\"disease\":\"Thymoma\",\"disease_summary\":\"You are probably experiencing Thymoma, Visit the doctor immediately.\"};\n        break;\n       \n    default:\n        data='classifier failed';\n        break;\n}\nmsg.topic=\"disease\";\n\nmsg.payload=data;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":739.6999588012695,"y":375.79999828338623,"wires":[["8101792.4675e88","5301ccfd.5cbcd4","13a763c3.9ad6bc"]]},{"id":"b34012fb.57b55","type":"debug","z":"c36494de.012b58","name":"","active":true,"console":"false","complete":"payload","x":509.69995880126953,"y":132.39999103546143,"wires":[]},{"id":"8101792.4675e88","type":"function","z":"c36494de.012b58","name":"Wait for all tasks to finish","func":"\ncontext.data = context.data || new Object();\n\nswitch (msg.topic) {\n    case \"patient\":\n        context.data.task1 = msg.payload;\n        msg = null;\n        break;\n    case \"disease\":\n        context.data.task2 = msg.payload;\n        msg = null;\n        break;\n   \n        \n    default:\n        msg = null;\n    \tbreak;\n\n}\n\nif(context.data.task1 != null && context.data.task2 != null)\n{\n\tmsg2=new Object();\n    msg2.payload = {\"patientID\":context.data.task1.patientID,\"disease\":context.data.task2.disease,\"disease_summary\":context.data.task2.disease_summary};\n    context.data=null;\n    return msg2;\n\n} else return msg;","outputs":1,"noerr":0,"x":785.0571594238281,"y":510.0571451187134,"wires":[["e9324cdc.2c31a","4ae1a842.edd678"]]},{"id":"d9b004fe.a353b8","type":"debug","z":"c36494de.012b58","name":"","active":true,"console":"false","complete":"false","x":920.6999549865723,"y":29,"wires":[]},{"id":"5301ccfd.5cbcd4","type":"debug","z":"c36494de.012b58","name":"","active":true,"console":"false","complete":"false","x":849.6999359130859,"y":299.59998989105225,"wires":[]},{"id":"d83de03c.d511e","type":"cloudant out","z":"c36494de.012b58","name":"RDHS-DB","cloudant":"e083a556.9f5d38","database":"rdhs","service":"Cloudant NoSQL DB","payonly":false,"operation":"insert","x":890.5714797973633,"y":647.2856922149658,"wires":[]},{"id":"13a763c3.9ad6bc","type":"function","z":"c36494de.012b58","name":"Insert Symptoms and Advice into DB","func":"\ncontext.data = context.data || new Object();\n\nswitch (msg.topic) {\n    case \"patient_raw_data\":\n        context.data.task1 = msg.payload;\n        msg = null;\n        break;\n    case \"disease\":\n        context.data.task2 = msg.payload;\n        msg = null;\n        break;\n   \n        \n    default:\n        msg = null;\n    \tbreak;\n\n}\n\nif(context.data.task1 != null && context.data.task2 != null)\n{\n\tmsg2=new Object();\n    msg2.payload = {\"patientID\":context.data.task1.patientID,\"disease\":context.data.task2.disease,\"disease_summary\":context.data.task2.disease_summary};\n    context.data=null;\n    return msg2;\n\n} else return msg;","outputs":1,"noerr":0,"x":602.1429138183594,"y":646.6667308807373,"wires":[["d83de03c.d511e"]]},{"id":"153382e4.078bed","type":"function","z":"c36494de.012b58","name":"Patient Data","func":"var patientID =msg.payload.d.patientID;\nvar dataframe= msg.payload.d.features;\n\n\nmsg.topic='patient_raw_data';\n\nmsg.payload={\"patientID\":patientID,\"features\":dataframe};\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":289.28572845458984,"y":653.8095426559448,"wires":[["13a763c3.9ad6bc"]]},{"id":"e083a556.9f5d38","type":"cloudant","z":"","host":"c7203981-ddf8-4fdf-bb31-8de5331d80fa-bluemix.cloudant.com","name":"rdhs"}]
