coughanalysis_ann/nodered-rpie
[{"id":"79dd0ee5.66b17","type":"tab","label":"Flow 2"},{"id":"3fe74e37.8bb422","type":"wiotp out","z":"79dd0ee5.66b17","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"1e6203bc.3d160c","deviceType":"myrpi","deviceId":"jh","event":"Patients data","format":"json","name":"Raspberry2Cloud","x":679.25,"y":365.8333282470703,"wires":[]},{"id":"c481a5b8.37d7f8","type":"function","z":"79dd0ee5.66b17","name":"Select Query","func":"var patient=msg.payload;\npatient=patient.replace(/(\\n)/gm,\"\");\nvar query=\"select * from RDHS.va_patient_disease_features where patientID='\"+patient+\"' LIMIT 2\";\nmsg.topic=query;\nreturn msg;\n","outputs":"1","noerr":0,"x":168.25,"y":288.8333282470703,"wires":[["1c0b4bb8.c5bbf4"]]},{"id":"da464aa8.44baf8","type":"debug","z":"79dd0ee5.66b17","name":"","active":true,"console":"false","complete":"payload","x":832.9999771118164,"y":272.5833282470703,"wires":[]},{"id":"28c36c3a.0dfc34","type":"function","z":"79dd0ee5.66b17","name":"MQTT payload","func":"var patientID=msg.payload[0].patientID;\nvar features=[];\nmsg.payload.forEach(function(item){\n    features.push(item.disease_features);\n    \n});\n\n//msg.payload=symptoms;\nmsg.payload=JSON.stringify({\"d\":{\"patientID\":patientID,\"features\":features}});\nreturn msg;","outputs":1,"noerr":0,"x":610.25,"y":267.8333206176758,"wires":[["da464aa8.44baf8","3fe74e37.8bb422"]]},{"id":"2c0583c4.2b67cc","type":"debug","z":"79dd0ee5.66b17","name":"","active":true,"console":"false","complete":"true","x":413.25,"y":370.8333282470703,"wires":[]},{"id":"c337fef.ed558","type":"wiotp in","z":"79dd0ee5.66b17","authType":"d","deviceKey":"f6a13c51.5719","deviceType":"","deviceId":"","command":"+","commandType":"g","name":"","x":424.25,"y":454.8333282470703,"wires":[["b7ef4092.6b472","f4ef0574.ab2168"]]},{"id":"b7ef4092.6b472","type":"debug","z":"79dd0ee5.66b17","name":"","active":true,"console":"false","complete":"payload","x":711.25,"y":456.8333282470703,"wires":[]},{"id":"f322df8a.0f88c","type":"inject","z":"79dd0ee5.66b17","name":"","topic":"","payload":" {\"d\":{\"patientID\":\"p01\",\"NLCresult\":\"TB\",\"Summary\":\"You are probably experiencing the mild Tuberculosis. If your symptoms do change or seem to get worse,consult a medical practioner\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":520.25,"y":531.8333282470703,"wires":[["f4ef0574.ab2168"]]},{"id":"f4ef0574.ab2168","type":"function","z":"79dd0ee5.66b17","name":"Insert Summary","func":"var patientID=msg.payload.d.patinetID;\nvar nlcresult=msg.payload.d.NLCresult;\nvar summary=msg.payload.d.Summary;\nmsg.topic=\"INSERT INTO  `va_patients_disease_summary` (`patientID`,`classifier_output`,`early_diagnosis_summary`) values('\"+patientID+\"','\"+nlcresult+\"','\"+summary+\"');\";\nreturn msg;\n","outputs":1,"noerr":0,"x":734.25,"y":528.8333282470703,"wires":[["9f7e9e89.034f6"]]},{"id":"a1888f52.5cfbc","type":"inject","z":"79dd0ee5.66b17","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":179.41666507720947,"y":427.1666736602783,"wires":[["1f5838be.f59207"]]},{"id":"1c0b4bb8.c5bbf4","type":"mysql","z":"79dd0ee5.66b17","mydb":"c9c0b032.0e407","name":"my msql DB","x":355.24998474121094,"y":288.8333282470703,"wires":[["28c36c3a.0dfc34","2c0583c4.2b67cc"]]},{"id":"9f7e9e89.034f6","type":"mysql","z":"79dd0ee5.66b17","mydb":"c9c0b032.0e407","name":"","x":934.25,"y":527.8333282470703,"wires":[[]]},{"id":"bc52743b.5f8008","type":"http in","z":"79dd0ee5.66b17","name":"Terminal call","url":"/start-node","method":"get","upload":false,"swaggerDoc":"","x":104.2421875,"y":74.3046875,"wires":[["8ed296c2.23dbc8","346b1a23.037326"]]},{"id":"8ed296c2.23dbc8","type":"function","z":"79dd0ee5.66b17","name":"Extract params","func":"var name=msg.req.query.name; \n//msg.payload=name;\nmsg.payload=name\nreturn msg;","outputs":1,"noerr":0,"x":336.25,"y":74.796875,"wires":[["39eaa3a0.0a5aec","6b3506a1.ddbad8"]]},{"id":"39eaa3a0.0a5aec","type":"exec","z":"79dd0ee5.66b17","command":"python coughanalysis_ann/annmodel_main.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Python Script","x":583.5078125,"y":75.5234375,"wires":[["5e2ce87b.c72378","c481a5b8.37d7f8"],["b24e86af.af08f8"],["bdf1e96f.c5c5a8"]]},{"id":"5e2ce87b.c72378","type":"debug","z":"79dd0ee5.66b17","name":"","active":true,"console":"false","complete":"false","x":795.2421875,"y":42.1015625,"wires":[]},{"id":"bdf1e96f.c5c5a8","type":"debug","z":"79dd0ee5.66b17","name":"","active":true,"console":"false","complete":"false","x":797.5078125,"y":124.5234375,"wires":[]},{"id":"b24e86af.af08f8","type":"debug","z":"79dd0ee5.66b17","name":"","active":true,"console":"false","complete":"false","x":794.5078125,"y":81.5234375,"wires":[]},{"id":"6b3506a1.ddbad8","type":"debug","z":"79dd0ee5.66b17","name":"","active":false,"console":"false","complete":"false","x":588.25,"y":20,"wires":[]},{"id":"346b1a23.037326","type":"debug","z":"79dd0ee5.66b17","name":"","active":true,"console":"false","complete":"false","x":326.2421875,"y":24.109375,"wires":[]},{"id":"6286fb1f.cb55e4","type":"function","z":"79dd0ee5.66b17","name":"PatientID","func":"var patientID=msg.payload;\nmsg.payload=patientID;\nreturn msg;","outputs":1,"noerr":0,"x":429.25,"y":205.7890625,"wires":[["3e453be1.fa79a4"]]},{"id":"3e453be1.fa79a4","type":"debug","z":"79dd0ee5.66b17","name":"","active":true,"console":"false","complete":"false","x":613.2421875,"y":176.09375,"wires":[]},{"id":"1f5838be.f59207","type":"function","z":"79dd0ee5.66b17","name":"temp name","func":"msg.payload='basva';\nreturn msg;","outputs":1,"noerr":0,"x":133.2421875,"y":355.296875,"wires":[["c481a5b8.37d7f8"]]},{"id":"1e6203bc.3d160c","type":"wiotp-credentials","z":"","name":"Raspberry2Cloud","org":"jkswoa","devType":"myrpi","devId":"myrpi"},{"id":"f6a13c51.5719","type":"wiotp-credentials","z":"","name":"RPI2Cloud","org":"jkswoa","devType":"myrpi","devId":"myrpi"},{"id":"c9c0b032.0e407","type":"MySQLdatabase","z":0,"host":"127.0.0.1","port":"3306","db":"RDHS","tz":""}]
